[package]
name = "plutonium-updater"
version = "0.3.0"
edition = "2021"

[profile.release]
opt-level = "s"

[dependencies]
clap = { version = "3.0.14", features = ["derive"] }
colored = "2.0.0"
http_req = { version = "0.8.1", default-features = false, features = [
    "rust-tls",
] }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.78"
sha1_smol = "1.0.0"
